In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i, end =" ")
  print("")

Enter a number:5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j, end =" ")
  print("")

Enter a number:5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
n = int(input("Enter a number:"))
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(j, end =" ")
  print("")

Enter a number:5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
n = int(input("Enter a number:"))
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(i, end =" ")
  print("")

Enter a number:5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
n = int(input("Enter a number:"))
num =1;
for i in range(1,n+1):
  for j in range(1,n+1):
    print(num, end =" ")
    num+=1
  print("")

Enter a number:5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
n = int(input("Enter a number:"))
num =n*n;
for i in range(1,n+1):
  for j in range(1,n+1):
    print(num, end =" ")
    num-=1
  print("")

Enter a number:5
25 24 23 22 21
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6
5 4 3 2 1

In [ ]:
n = int(input("Enter a number:"))
num =1;
for i in range(1,n+1):
  for j in range(1,n+1):
    print(num, end="")
    if(j<n):
      print("*",end="")
    num+=1
  print("")

Enter a number:5
1*2*3*4*5
6*7*8*9*10
11*12*13*14*15
16*17*18*19*20
21*22*23*24*25

In [ ]:
n = int(input("Enter a number:"))
num =1;
for i in range(1,n+1):
  num=n*i;
  for j in range(1,n+1):
    print(num, end =" ")
    num-=1
  print("")

Enter a number:5
5 4 3 2 1
10 9 8 7 6
15 14 13 12 11
20 19 18 17 16
25 24 23 22 21

In [ ]:
n = int(input("Enter a number:"))
num =1;
for i in range(1,n+1):
  num=n*i;
  for j in range(1,n+1):
    print(num, end ="")
    if(j<n):
      print("*",end='')
    num-=1
  print("")

Enter a number:5
5*4*3*2*1
10*9*8*7*6
15*14*13*12*11
20*19*18*17*16
25*24*23*22*21

In [ ]:
n= int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,n+1):
    print(num,end=' ')
    num= num+n;
  print("")
  num=i+1;

Enter a number:5
1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [ ]:
n= int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i%2==0):
      print("0",end=' ')
    else:
      print("1",end=' ')
  print("")

Enter a number:5
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

In [ ]:
n= int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,n+1):
    if(j%2==0):
      print("0",end=' ')
    else:
      print("1",end=' ')
  print("")

Enter a number:5
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1

In [ ]:
n= int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,n+1):
    if((i+j)%2==0):
      print("0",end=' ')
    else:
      print("1",end=' ')
  print("")

Enter a number:5
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end =" ")
  print("")

Enter a number:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end =" ")
  print("")

Enter a number:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end =" ")
    num+=1;
  print("")

Enter a number:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n = int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end ="")
    if(j<i):
      print("*", end ='')
    num+=1;
  print("")

Enter a number:5
1
2*3
4*5*6
7*8*9*10
11*12*13*14*15

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    if(j==1 or j==i or i==n):
      print("1",end=' ')
    else:
      print("0",end=' ')
  print("")

Enter a number:5
1
1 1
1 0 1
1 0 0 1
1 1 1 1 1

In [ ]:
n = int(input("Enter a number:"))
num=1;
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(num,end=' ')
    num+=1;
  print("")

Enter a number:5
1 2 3 4 5
6 7 8 9
10 11 12
13 14
15

In [ ]:
n = int(input("Enter a number:"))

for i in range(1,n+1):
  for j in range(1,n+1):
    if(j>=i):
      print(i,end='')
    else:
      print(end=' ')
  print("")

Enter a number:5
11111
 2222
  333
   44
    5

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if(n-i>=j):
      print(end=" ")
    else:
      print(i,end=" ")

    
  print("")

Enter a number:5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter a number:"))
a=0;
k=1;
while(a<=n):
  k+=a;
  a+=1;
k-=1;
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k, end =" ")
    k-=1;
  print("")

Enter a number:5
15
14 13
12 11 10
9 8 7 6
5 4 3 2 1

In [ ]:
n = int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(0,i):
    print(num-j, end =" ")
  print("")
  num=num+i+1;

Enter a number:5
1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

In [ ]:
n = int(input("Enter a number:"))
num=1;
for i in range(1,n+1):
  for j in range(0,i):
    print(num-j, end ="")
    if(j<i-1):
      print("*",end='')
  print("")
  num=num+i+1;

Enter a number:5
1
3*2
6*5*4
10*9*8*7
15*14*13*12*11

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n + 1):  
  m = 1;  
  for j in range(1,i + 1):
    print(m, end = " ")
    m = int(m * (i - j) / j)  
        
  print("")

Enter a number:5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end =" ")
  print("")
for i in range(n-1,0,-1):
  for j in range(1,i+1):
    print(i, end =" ")
  print("")

Enter a number:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if(j==n and i%2 != 0):
      print(i+1,end=' ')
    elif(j==1 and i%2==0):
      print(i+1,end=' ')
    else:
      print(i, end =" ")
  print("")

Enter a number:4
1 1 1 2
3 2 2 2
3 3 3 4
5 4 4 4

In [ ]:
n = int(input("Enter a number:"))
k=1;
for i in range(1,n+1):
  for j in range(0,i):
    if(j==0):
      k=i;
    else:
      k+=n-j;
    print(k,end=" ")
    
  print("")

Enter a number:5
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [21]:
n = int(input("Enter a number:"))
k=1;
for i in range(1,n+1):
  for j in range(1,n+1):

    print(k, end=' ')
    k+=1
  if(i<(n/2)or(n%2!=0 and i<(n/2))):
    k=k+n;
  elif ((n%2!=0 and(i<(n/2)+1))):
    k= k-(n*2);
  elif(n%2==0 and i==(n/2)):
    k=k+1-1;
  else:
    k=k-(n*3);
  print("")

Enter a number:9
1 2 3 4 5 6 7 8 9
19 20 21 22 23 24 25 26 27
37 38 39 40 41 42 43 44 45
55 56 57 58 59 60 61 62 63
73 74 75 76 77 78 79 80 81
64 65 66 67 68 69 70 71 72
46 47 48 49 50 51 52 53 54
28 29 30 31 32 33 34 35 36
10 11 12 13 14 15 16 17 18